[build]
builder = "RAILPACK"
buildCommand = "bun run build:ai && bun run build:api"

[deploy]
startCommand = "bun run --filter=api start:prod"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
